$color-violet: #626584;
$color-white: #ffffff;
$color-gray: #cccccc;
$color-black: #000000;
$color-vlight: #757898;

a {
  text-decoration: none; 
}
::selection {
  color: $color-white;
  background-color: $color-vlight;
}
/*--- icons ---*/
.cat-icon {
  color: $color-white;
}