.section {
	font-size: 1.3rem;
	scroll-margin-top: 5rem;
	&-color {
		background: #e1e1ec;
	}
	h1, h2 {
		text-align: center;
	}
	&__img {
		text-align: center;
	}
	&__form-button {
		font-size: 1.4em;
		padding: 0.3em 1.5em;
	}
}
.line-top {
	border-top: 1px solid $color-vlight;
}
.img-circle {
	border-radius: 50%;
}
.adv {
  height: 28rem;
}
.adv__item {
	background: #d6e3ef;
	border: 5px solid $color-vlight;
	border-top-right-radius: 5rem;
	border-top-left-radius: 5rem;
	text-align: center;
	padding: 1rem;
	width: 100%;
  z-index: 1;
	h3 {
		border-top: 1px solid $color-vlight;
	}
  &:hover{
    cursor: pointer;
    .adv__descr {
      height: 8rem;
      transition: height 0.5s ease-in-out;
    }
  }
}
.adv__icon {
  font-size: 7em;
  color: $color-white;
}
.adv__descr {
  border-top: 1px solid $color-vlight;
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}
/*--- video ---*/
video {
  margin: 0 auto;
  display: block;
}
@media all and (max-width: 976px){
  .adv {
    height: 100%;
  }
}

/*--- scroll ---*/
.reveal {
  position: relative;
  opacity: 0;
  &.active{
    opacity: 1;
    animation: scroll-show 1s ease-in-out;
  }
}
@keyframes scroll-show {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
