@media all and (max-width: 976px){
  .form{ padding: 0; }
}

.section {
	font-size: 1.3rem;
	scroll-margin-top: 5rem;
	&-color {
		background: #e1e1ec;
	}
	h1, h2 {
		text-align: center;
	}
	&__img {
		text-align: center;
	}
	&__form-button {
		font-size: 1.4em;
		padding: 0.3em 1.5em;
	}
}
.line-top {
	border-top: 1px solid $color-vlight;
}
.img-circle {
	border-radius: 50%;
}
.additional {
	background: #d6e3ef;
	border: 5px solid $color-vlight;
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	min-height: 20rem;
	text-align: center;
	padding: 1rem;
	width: 100%;
	&__icon {
		font-size: 7em;
		color: $color-white;
	}
	h3 {
		border-top: 1px solid $color-vlight;
	}
}
.form {
	text-align: center;
	padding: 0 1rem;
	&-control {
		font-size: 1em;
	}
}

